<footer class="bg-[#00E7E1] py-3">
    <div class="mx-auto px-4">
      <div class="flex justify-between items-center text-lg">
        <a href="/contact">Contact Us</a>
        <span class="ml-auto">© OSINT Monkey 2024</span>
      </div>
    </div>
  </footer>