<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4HXETPYZQ2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4HXETPYZQ2');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="https://cdn.glitch.global/8a69a447-95b2-456d-95af-9d3addfebea8/favicon.ico?v=1720468815926"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title><%= title %> - OSINT Lab</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=aspect-ratio"></script>
    <script src="https://kit.fontawesome.com/aa00b5a664.js" crossorigin="anonymous"></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <link rel="stylesheet" href="style.css">
     <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              // font_name: ['"official font family name"': "font-name"]
              roboto: ['"roboto mono"', "sans-serif"]
            },
            animation: {
              fadein: 'fadein 0.2s ease-in-out',
              longerfadein: 'fadein 0.5s ease-in-out',
              fadeout: 'fadeout 0.2s ease-in-out',
              longerfadeout: 'fadeout 0.5s ease-in-out',
              slidetoleft: 'slidetoleft 5.5s linear'
            },
            keyframes: theme => ({
              fadein: {
                '0%': { opacity: 0 },
                '100%': { opacity: 1 },
              },
              fadeout: {
                '0%': { opacity: 1},
                '100%': { opacity: 0 },
              },
              slidetoleft: {
                '0%': { width: "100%" },
                '100%': { width: "0%" },
              },
            }),
          },
        },
      };
    </script>
  </head>