<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4HXETPYZQ2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4HXETPYZQ2');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="https://cdn.glitch.global/8a69a447-95b2-456d-95af-9d3addfebea8/favicon.ico?v=1720468815926"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  
    <!-- Open Graph Tags -->
    <!-- HTML Meta Tags -->
    <title>OSINT Lab - OSINT Practice Made Easy</title>
    <meta name="description" content="OSINT Lab lets you learn and practice OSINT online, all for free!">

    <!-- Open Graph Meta Tags -->
    <meta property="og:url" content="https://osint-lab.glitch.me/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="OSINT Lab lets you learn and practice OSINT online, all for free!">
    <meta property="og:image" content="https://cdn.glitch.global/f4140a6a-6312-408f-9f19-f09b33a6efad/osintlabembed?v=1721345958603">
    <meta property="og:image:width" content="755">
    <meta property="og:image:height" content="425">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="osint-lab.glitch.me">
    <meta property="twitter:url" content="https://osint-lab.glitch.me/">
    <meta name="twitter:description" content="OSINT Lab lets you learn and practice OSINT online, all for free!">
    <meta name="twitter:image" content="https://cdn.glitch.global/f4140a6a-6312-408f-9f19-f09b33a6efad/osintlabembed?v=1721345958603">

    <% if (title == "Home") { %>
      <title>OSINT Lab - OSINT Practice and Learning Made Easy</title>
      <meta property="og:title" content="OSINT Lab - OSINT Practice Made Easy" />
      <meta name="twitter:title" content="OSINT Lab - OSINT Practice Made Easy">
    <% } else { %>
      <title><%= title %> - OSINT Lab</title>
      <meta property="og:title" content="<%= title %> - OSINT Lab" />
        <meta name="twitter:title" content="<%= title %> - OSINT Lab">
    <% } %>
    <link href="/main.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aa00b5a664.js" crossorigin="anonymous"></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
  </head>
