* {
  margin: 0;
  padding: 0;
}

body {
  /* idk font family yet */
  overflow: hidden;
}

a {
  text-decoration: none;
}


/* navbar */

.navbar {
  background-color: rgb(220, 220, 220, 0.5);
  color: white;
  padding: 10px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}