<html>
  <%- include('../partials/head') %>
  <body class="font-roboto bg-[#E7F7FC]">
    <!-- Navbar -->
    <%- include('../partials/header') %>
  <!-- BIG NAME -->
  <div class="text-center mt-32 sm:mt-40 mb-10 sm:mb-20">
    <h1 class="text-5xl sm:text-9xl font-bold">OSINT Lab</h1>
    <p class="text-2xl sm:text-4xl font-bold text-blue-500 tracking-widest m-8 mt-2 sm:mb-2">PREMIER OSINT RESOURCES</p>
  </div>
      
  <!-- Splash -->
  <div class="flex flex-col sm:flex-row p-4 sm:m-20 mt-5 sm:mt-20 mb-0 justify-center">
    <div class="w-full md:w-3/4 lg:w-1/2 p-4">
      <h2 class="text-2xl sm:text-4xl font-bold text-[#003459]">High-quality OSINT practice</h2>
      <p class="text-lg sm:text-xl mt-4">
        Expose yourself to a variety of OSINT (open-source intelligence) techniques through fun challenges! In a capture-the-flag format, players will 
        learn about a variety of intelligences, including:
        <ul class="list-disc ml-5 sm:ml-10 text-md sm:text-lg mt-2">
          <li class="secondary-font">🌎 Geospatial Intelligence</li>
          <li class="secondary-font">📞 Social Media Intelligence</li>
          <li class="secondary-font">🖥️ Signals Intelligence</li>
          <li class="secondary-font">...and more!</li>
        </ul>
      </p>
    </div>
    <div class="w-full xl:w-1/2 p-4 flex justify-center items-center hidden xl:flex ml-16">
      <img src="https://cdn.glitch.global/f4140a6a-6312-408f-9f19-f09b33a6efad/osint.png" class="max-w-full lg:max-w-xl rounded-xl object-contain">
    </div>
  </div>

  <!-- Values -->
  <div class="py-12 mb-0">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-6 sm:mb-12">
        <h3 class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl">Helping you learn open-source intelligence</h3>
        <p class="mt-4 mx-4 sm:mx-0 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          OSINT Lab exists thanks to a group of dedicated, enthusiastic students who hope to inspire growing talent to pursue a career in cybersecurity.
        </p>
      </div>
      <div class="grid gap-4 sm:gap-8 lg:grid-cols-2 mb-10 sm:mb-20">
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <div class="flex">
            <div class="flex-shrink-0 text-3xl text-blue-600">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="ml-4">
              <h4 class="text-lg leading-6 font-medium text-gray-900">Our Goal</h4>
              <p class="mt-2 text-base text-gray-700">
                Our goal is to provide open-source intelligence resources for anyone wishing to learn and practice their skills.
                Inspired by the lack of resources online, we took things into our own hands and built a platform from scratch in 
                order to combat this critical problem.
              </p>
            </div>
          </div>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <div class="flex">
            <div class="flex-shrink-0 text-3xl text-emerald-600">
              <i class="fa-solid fa-trophy"></i>
            </div>
            <div class="ml-4">
              <h4 class="text-lg leading-6 font-medium text-gray-900">Compete with Others</h4>
              <p class="mt-2 text-base text-gray-700">
                We provide practice problems in the form of CTF (capture-the-flag) challenges. Competitors solve problems in 
                various categories e.g. SOCMINT, GEOINT, etc. and receive points for solved challenges. These points are then 
                used to determine rankings on a global leaderboard!
              </p>
            </div>
          </div>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <div class="flex">
            <div class="flex-shrink-0 text-3xl text-pink-600">
              <i class="fa-solid fa-brain"></i>
            </div>
            <div class="ml-4">
              <h4 class="text-lg leading-6 font-medium text-gray-900">Learn Techniques</h4>
              <p class="mt-2 text-base text-gray-700">
                Along with practice problems, we provide educational modules consisting of guides, lectures, and videos for you to learn 
                topics from scratch. For every practice problem, we have a module covering a corresponding topic.

                <i>Coming Soon</i>
              </p>
            </div>
          </div>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <div class="flex">
            <div class="flex-shrink-0 text-3xl text-yellow-500">
              <i class="fa-solid fa-bolt-lightning"></i>
            </div>
            <div class="ml-4">
              <h4 class="text-lg leading-6 font-medium text-gray-900">Beginner-Friendly</h4>
              <p class="mt-2 text-base text-gray-700">
                No matter what your skill level is, we promise to have challenges for you! Regardless of whether you're just getting started with OSINT 
                or have years of experience under your belt, there are challenges for everyone.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Stats -->
  <!--<div class="flex justify-around py-8 mb-5">
    <div class="text-center">
      <div class="text-5xl font-bold">Number Here</div>
      <div class="text-lg mt-2">Page Views</div>
    </div>
    <div class="text-center">
      <div class="text-5xl font-bold">Number Here</div>
      <div class="text-lg mt-2">Registered Users</div>
    </div>
    <div class="text-center">
      <div class="text-5xl font-bold">Number Here</div>
      <div class="text-lg mt-2">Practice Challenges</div>
    </div>
  </div>-->
  
  <!-- Footer -->
  <%- include('../partials/footer') %>

  </body>
</html>
