<html>
  <%- include('../partials/head') %>
  <!-- Note to aryan: switch to font-barlow if you want barlow font-->
  <body class="font-roboto">
    <!-- Navbar -->
    <%- include('../partials/header') %>

    <!-- Splash -->
    <div class="flex flex-row p-4 m-40 mt-20 mb-10 justify-center">
      <div class="w-1/2 p-4">
        <h2 class="text-4xl font-bold text-[#003459]">High-quality OSINT practice</h2>
        <p class="text-xl mt-4">
          Expose yourself to a variety of OSINT (open-source intelligence) techniques through fun challenges! In a capture-the-flag format, players will 
          learn about a variety of intelligences, including:
          <ul class="list-disc ml-10 text-lg mt-2">
            <li class="secondary-font">🌎 Geospatial Intelligence</li>
            <li class="secondary-font">📞 Social Media Intelligence</li>
            <li class="secondary-font">🖥️ Signals Intelligence</li>
            <li class="secondary-font">...and more!</li>
          </ul>
        </p>
      </div>
      <div class="w-1/2 p-4 flex justify-center items-center">
        <img src="assets/osint.jpg" class="w-240 h-240 rounded-xl object-contain">
      </div>
    </div>

  <!-- Values -->
  <div class="py-12 mb-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-12">
        <h3 class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl">Helping you learn open-source intelligence</h3>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          OSINT Monkey exists thanks to a group of dedicated, enthusiastic students who hope to inspire growing talent to pursue a career in cybersecurity.
        </p>
      </div>
      <div class="grid gap-8 lg:grid-cols-2">
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-12 w-12" src="assets/icon1.png" alt="Icon">
            </div>
            <div class="ml-4">
              <h4 class="text-lg leading-6 font-medium text-gray-900">Lorem Ipsum</h4>
              <p class="mt-2 text-base text-gray-700">
                I really wanted to write something here, but the Euros are on and I have low attention span, so I'll do it later. I hope Mbappe wins! 
                At this point, I don't know what to say, but I need filler text. This is still more filler text. And more filler text.
              </p>
            </div>
          </div>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-12 w-12" src="assets/icon2.png" alt="Icon">
            </div>
            <div class="ml-4">
              <h4 class="text-lg leading-6 font-medium text-gray-900">Lorem Ipsum</h4>
              <p class="mt-2 text-base text-gray-700">
                I really wanted to write something here, but the Euros are on and I have low attention span, so I'll do it later. I hope Mbappe wins! 
                At this point, I don't know what to say, but I need filler text. This is still more filler text. And more filler text.
              </p>
            </div>
          </div>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-12 w-12" src="assets/icon3.png" alt="Icon">
            </div>
            <div class="ml-4">
              <h4 class="text-lg leading-6 font-medium text-gray-900">Lorem Ipsum</h4>
              <p class="mt-2 text-base text-gray-700">
                I really wanted to write something here, but the Euros are on and I have low attention span, so I'll do it later. I hope Mbappe wins! 
                At this point, I don't know what to say, but I need filler text. This is still more filler text. And more filler text.
              </p>
            </div>
          </div>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-lg">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-12 w-12" src="assets/icon4.png" alt="Icon">
            </div>
            <div class="ml-4">
              <h4 class="text-lg leading-6 font-medium text-gray-900">Lorem Ipsum</h4>
              <p class="mt-2 text-base text-gray-700">
                I really wanted to write something here, but the Euros are on and I have low attention span, so I'll do it later. I hope Mbappe wins! 
                At this point, I don't know what to say, but I need filler text. This is still more filler text. And more filler text.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Stats -->
  <div class="flex justify-around py-8 mb-5">
    <div class="text-center">
      <div class="text-5xl font-bold">600k+</div>
      <div class="text-lg mt-2">Page Views</div>
    </div>
    <div class="text-center">
      <div class="text-5xl font-bold">30k+</div>
      <div class="text-lg mt-2">Registered Users</div>
    </div>
    <div class="text-center">
      <div class="text-5xl font-bold">50+</div>
      <div class="text-lg mt-2">Practice Challenges</div>
    </div>
  </div>
  
  <!-- Footer -->
  <%- include('../partials/footer') %>

  </body>
</html>
