<html>
  <%- include('../partials/head') %>
  <body class="bg-[#E7F7FC] font-roboto">
    <div class="flex justify-center items-center h-full w-full">
      <div class="h-fit w-fit flex flex-col rounded-xl bg-[#80D3F0]  shadow-2xl p-6">
        <h1 class="flex text-5xl text-slate-800 font-bold">Welcome back!</h1>
        <p class="flex text-3xl text-slate-800">Let's get your username!</p>
        <form action="/login_email" method="POST" class="flex flex-col gap-3 mt-3">
          <label>Username: </label>
          <input type="text" name="username" class="rounded bg-[#007EA7] p-2" />
          <label>Password:</label>
          <input
            type="password"
            name="password"
            class="rounded bg-[#007EA7] p-2"
          />
          <input
            type="submit"
            class="place-self-center p-3 rounded  bg-[#007EA7] transition duration-300 hover:bg-[#00A7E1] rounded w-fit mt-3"
          />
        </form>
      </div>
    </div>
  </body>
</html>
