<html>
  <%- include('../partials/head') %>
  <!-- Note to aryan: switch to font-barlow if you want barlow font-->
  <body class="font-roboto bg-[#E7F7FC]">
    <!-- Navbar -->
    <%- include('../partials/header') %>
    <div class="flex flex-row mt-14 p-4 mx-auto gap-">
      <div class="flex">
        <h2 class="flex font-bold text-4xl text-slate-800">
          Category One
        </h2>
      </div> 
    </div>        
    <%- include('../partials/footer') %>
  </body>
</html>